.jumbotron{
	background-color: #3346FF;
	color: white;
	padding: 2rem 1rem;
	margin-top: 50px;
}

.info1{
	background-color: #F4F5FA;
	flex: 1 150px;
	padding: 2em;
	margin-top: 10px;
	margin: 20px;
}

.btn-leer{
	width: 100%;
}

footer{
	margin: 0;
	padding: 10px 50px 10px 50px;
	width: 100%;
	background-color: #808080;
	color: white;
	font-size: 0.8em;
}

.lnk_footer{
	text-decoration: none;
	color: white;
}