$yellow: #fcbf17;
$red: #fc1414;
$green: #ff0000;
$white: #ffff00;

@mixin margenes($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;	
}

@mixin padd($top,$right,$bottom,$left){
	padding: $top $right $bottom $left;
}

@mixin color-fondo($color){
	background-color: $color;
}

.jumbotron{
	background-color: $yellow;
	color: white;
	padding: 2rem 1rem;
	@include margenes(50px,0px);
}

.info1{
	background-color:$red;
	flex: 1 150px;
	padding: 2em;
	margin-top: 10px;
	margin: 20px;
}

.btn-leer{
	width: 100%;
}

footer{
	margin: 0;
	@include padd(10px,50px,10px,50px);
	width: 100%;
	@include color-fondo(#808080);
	color: $white;
	font-size: 0.8em;
}

.lnk_footer{
	text-decoration: none;
	color: $white;
}